body{
    background-attachment: fixed;
    color: black;
    background-repeat: no-repeat;
    background-size: cover; 
    display: none;
}
#obliging{
    margin: 5% 0 0 0;
    animation: dpd 2s;
}


#pserror,#userror{
    color: red;
    font: bold;
}




form{   
    
    padding-top: 150px;
    padding-left: 250px;
    align-self: center;
    animation: dpd 2s;
}
form input{
    color: black;
    margin: 10px;
}
form span{
    color: blue;
    text-shadow: black;
}


label{
    
    margin-bottom: 0px;
}

.btn
{
    margin: 3px 0px 0px 4px;
    border-radius: 5px;
    color: white;
    box-shadow:  5px 5px rgba(0,0,0,50%),;
}

.btn:hover{
    
    box-shadow: 5px 5px black;
}

@keyframes dpd{
    0%  {opacity: 0;}
    100%{opacity: 1;}
}
